In [2]:
import pandas as pd
import numpy as np
import sklearn.neighbors

In [3]:
sb_df = pd.read_csv('starbucks_us.csv')

In [4]:
sb_df.head()

,Unnamed: 0,id,starbucksid,name,brandname,storenumber,phonenumber,ownershiptype,street1,street2,...,timezoneoffset,timezoneid,timezoneolsonid,firstseen,lastseen,geocoder,lat,lon,geoid,geometry
0,0,1f2d204f-e773-4361-9158-0008307dbd5e,10357,Target Virginia T-847,Starbucks,76666-97597,218-741-6603,LS,1001 13th St S,NaN,...,-360,Central Standard Time,GMT-06:00 America/Chicago,2013-12-08 17:41:59,2017-02-03 00:00:00,mapquest,47.511105,-92.549222,04000US27,POINT (-92.549222 47.511105)
1,1,4fd3ed5a-efa4-4a20-b11d-0148c42cb029,1006159,Target Vadnais Heights T-751,Starbucks,20341-204767,651-483-9637,LS,975 County Rd E,NaN,...,-360,Central Standard Time,GMT-06:00 America/Chicago,2013-12-08 17:41:59,2017-02-03 00:00:00,open_cage,45.050410,-93.061545,04000US27,POINT (-93.0615446 45.0504105)
2,2,0f7464b4-0891-4ac5-b1c7-021326702910,1008940,Highway 169 and Freeport-Elk River,Starbucks,20689-206848,7634413991,CO,19179 Freeport Ave,A,...,-360,Central Standard Time,GMT-06:00 America/Chicago,2014-08-27 00:00:00,2017-02-03 00:00:00,open_cage,45.319902,-93.564261,04000US27,POINT (-93.564261 45.319902)
3,3,0909786f-7ca8-4f88-91a0-02bbca3d7b97,14598,St. Paul-Grand Ave & Oxford St,Starbucks,10156-99311,651-221-4465,CO,1062 Grand Ave.,NaN,...,-360,Central Standard Time,GMT-06:00 America/Chicago,2013-12-08 17:41:59,2017-02-03 00:00:00,mapquest,44.939874,-93.144947,04000US27,POINT (-93.144947 44.939874)
4,4,8b2be36a-c175-4dcb-b344-030b17508406,12449,Target Minneapolis T-1375,Starbucks,72669-48339,763-440-9390,LS,900 Nicollet Mall,NaN,...,-360,Central Standard Time,GMT-06:00 America/Chicago,2013-12-08 17:41:59,2017-02-03 00:00:00,open_cage,44.970518,-93.277707,04000US27,POINT (-93.27770719999999 44.9705181)

In [5]:
sb_df = sb_df[['starbucksid', 'name', 'street1', 'city', 'countrysubdivisioncode', 'postalcode', 'lat', 'lon']]

sb_df.rename(columns={'starbucksid': 'starbucks_id', 'name': 'store_name', 'street1': 'store_address', 
                      'city': 'store_city', 'countrysubdivisioncode': 'store_state','postalcode': 'store_zip', 
                      'lat': 'store_lat', 'lon': 'store_long'}, inplace=True)

In [6]:
sb_df.head()

,starbucks_id,store_name,store_address,store_city,store_state,store_zip,store_lat,store_long
0,10357,Target Virginia T-847,1001 13th St S,Virginia,MN,557923254.0,47.511105,-92.549222
1,1006159,Target Vadnais Heights T-751,975 County Rd E,Vadnais Heights,MN,55127.0,45.050410,-93.061545
2,1008940,Highway 169 and Freeport-Elk River,19179 Freeport Ave,Elk River,MN,55330.0,45.319902,-93.564261
3,14598,St. Paul-Grand Ave & Oxford St,1062 Grand Ave.,St. Paul,MN,551053805.0,44.939874,-93.144947
4,12449,Target Minneapolis T-1375,900 Nicollet Mall,Minneapolis,MN,554032530.0,44.970518,-93.277707

In [7]:
h_df = pd.read_csv("multifamily_physical_inspection_scores_0321.csv")

In [8]:
h_df = h_df[['PROPERTY_ID', 'PROPERTY_NAME', 'ADDRESS', 'CITY', 'STATE_NAME', 'ZIPCODE', 'LATITUDE', 'LONGITUDE']]

h_df.columns = [col.lower() for col in h_df.columns]

In [9]:
h_df.head()

,property_id,property_name,address,city,state_name,zipcode,latitude,longitude
0,800006929,PARKVIEW APARTMENTS I,1334 Memorial Ln,Huntington,IN,46750.0,40.879550,-85.513698
1,800005604,Maple West Apartments,350 W Maple St,Pocatello,ID,83201.0,42.880722,-112.454480
2,800001529,FOSTER AVE APTS,13630 Foster Ave,Baldwin Park,CA,91706.0,34.074928,-117.976232
3,800027853,ST. LUKE RESIDENTIAL H.C.F.,299 E River Rd,Oswego,NY,13126.0,43.444980,-76.493814
4,800225287,Adams Street Place,1024 Adams St,Jefferson City,MO,65101.0,38.566468,-92.177775

In [10]:
# add columns to convert latitude and longitude to radians
sb_df[['sb_lat_radians','sb_long_radians']] = (np.radians(sb_df.loc[:,['store_lat','store_long']]))

h_df[['lat_radians','long_radians']] = (np.radians(h_df.loc[:,['latitude','longitude']]))

In [11]:
h_df.head()

,property_id,property_name,address,city,state_name,zipcode,latitude,longitude,lat_radians,long_radians
0,800006929,PARKVIEW APARTMENTS I,1334 Memorial Ln,Huntington,IN,46750.0,40.879550,-85.513698,0.713483,-1.492496
1,800005604,Maple West Apartments,350 W Maple St,Pocatello,ID,83201.0,42.880722,-112.454480,0.748410,-1.962701
2,800001529,FOSTER AVE APTS,13630 Foster Ave,Baldwin Park,CA,91706.0,34.074928,-117.976232,0.594720,-2.059074
3,800027853,ST. LUKE RESIDENTIAL H.C.F.,299 E River Rd,Oswego,NY,13126.0,43.444980,-76.493814,0.758258,-1.335069
4,800225287,Adams Street Place,1024 Adams St,Jefferson City,MO,65101.0,38.566468,-92.177775,0.673112,-1.608806

In [12]:
dist = sklearn.neighbors.DistanceMetric.get_metric('haversine')

# 3959 is the radius of the earth in miles, multiply to convert radians to miles
dist_matrix = (dist.pairwise(h_df[['lat_radians','long_radians']],
                             sb_df[['sb_lat_radians','sb_long_radians']])*3959)

# resultant df is a matrix of distances between all properties and starbucks stores
df_dist_matrix = (pd.DataFrame(dist_matrix, 
                               index=h_df['property_id'], 
                               columns=sb_df['starbucks_id']))

In [14]:
# Unpivot this dataframe from wide format to long format.
# When you unpivot, the data in the pivot table becomes a
# column named 'value'. Rename this column to 'miles' for clarity.

df_dist_final = (pd.melt(df_dist_matrix.reset_index(), id_vars='property_id'))

df_dist_final.rename(columns={'value':'miles'}, inplace=True)

In [16]:
df_dist_final.sort_values(['property_id', 'miles'], ascending = [False, True], inplace=True)

In [17]:
df_dist_final.drop_duplicates(subset = ['property_id'], keep = 'first', inplace=True)

In [18]:
df_dist_final.reset_index(drop = True, inplace=True)

In [19]:
df_dist_final.head()

   property_id starbucks_id     miles
0    800249994       113983  0.721452
1    800249810        14957  0.425021
2    800249716        17517  2.379760
3    800249715        17517  2.433764
4    800249714         9549  1.797766

In [26]:
# Avg distance to a starbucks nationwide
df_dist_final['miles'].mean()

8.14946275832017

In [37]:
# Merge distances back into housing df
merged_df = h_df.merge(df_dist_final, on='property_id')

In [39]:
merged_df.rename(columns={'miles': 'closest_starbucks (mi)'}, inplace=True)

In [40]:
merged_df.head()

,property_id,property_name,address,city,state_name,zipcode,latitude,longitude,lat_radians,long_radians,starbucks_id,closest_starbucks (mi)
0,800006929,PARKVIEW APARTMENTS I,1334 Memorial Ln,Huntington,IN,46750.0,40.879550,-85.513698,0.713483,-1.492496,1009517,17.004152
1,800005604,Maple West Apartments,350 W Maple St,Pocatello,ID,83201.0,42.880722,-112.454480,0.748410,-1.962701,7436,0.636081
2,800001529,FOSTER AVE APTS,13630 Foster Ave,Baldwin Park,CA,91706.0,34.074928,-117.976232,0.594720,-2.059074,1015032,0.360384
3,800027853,ST. LUKE RESIDENTIAL H.C.F.,299 E River Rd,Oswego,NY,13126.0,43.444980,-76.493814,0.758258,-1.335069,13542,25.169199
4,800225287,Adams Street Place,1024 Adams St,Jefferson City,MO,65101.0,38.566468,-92.177775,0.673112,-1.608806,8388,2.160519

In [ ]:
#df.to_csv('nearest_starbucks.csv', index = False)